In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
purchase_csv = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(purchase_csv)

## Player Count

In [7]:
#Calculate the number of unique players in the data frame. Use the 'SN' column

player_count = len(purchase_df["SN"].unique())

#display the player count in a summary player count data frame

player_count_df = pd.DataFrame({"Total Players": [player_count]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [8]:
#Run basic calculations to obtain number of unique items, average price, total # of purchases, Total Revenue

#Number of unique items is unique values in column 'Item ID'
item_count = len(purchase_df["Item ID"].unique())


#Average price is average of all prices in column 'Price'
avg_price = purchase_df["Price"].mean()


#Total # of purchases is the total number of rows in data frame. Can count 'Purchase ID' column
purchase_count = len(purchase_df["Purchase ID"])


#Total Revenue is sum of column 'Price'
total_revenue = purchase_df["Price"].sum()

In [9]:
#Create a Summary Data Frame to hold the results 

purchase_analysis_df = pd.DataFrame({"Number of Unique Items": [item_count],
                                    "Average Price": [avg_price],
                                    "Number of Purchases": [purchase_count],
                                    "Total Revenue": [total_revenue]})
purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

# Gender Demographics

In [10]:
#Percentage and Count of 'Male' Players
#Percentage and Count of 'Female' Players
#Percentage and Count of 'Other / Non-Disclosed' Players

#Male Count and Percentage
total_male = purchase_df.groupby(['Gender']).get_group(('Male'))
unique_male_count = len(total_male["SN"].unique())
male_percent = round((unique_male_count/player_count)*100,2)

#Female Count and Percentage
total_female = purchase_df.groupby(['Gender']).get_group(('Female'))
unique_female_count = len(total_female["SN"].unique())
female_percent = round((unique_female_count/player_count)*100,2)

#Other Count and Percentage
total_other = purchase_df.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
unique_other_count = len(total_other["SN"].unique())
other_percent = round((unique_other_count/player_count)*100,2)

In [11]:
#Summarize in Data Frame with Gender as a column then convert the Gender column to the Index

gender_demographics_df = pd.DataFrame ({"Total Count": [unique_male_count, unique_female_count, unique_other_count], 
                                        "Percentage of Players": [male_percent, female_percent, other_percent],
                                       "Gender": ["Male", "Female", "Other / Non-Disclosed"]})

gender_indexed_demographics_df = gender_demographics_df.set_index("Gender")
gender_indexed_demographics_df

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

## Purchasing Analysis (Gender)

In [12]:
#Unique count of individuals by gender
unique_gender_count =purchase_df.groupby("Gender")["SN"].nunique()

#Purchase count by gender 
gender_purchase_count = purchase_df.groupby("Gender")["Item ID"].count()

#Total value purchased by gender 
gender_total_purchase = purchase_df.groupby("Gender")["Price"].sum()


#Create data frame that's grouped by Gender and assign "Purchase Count" as first column
gender_df = gender_purchase_count.to_frame("Purchase Count")

#Add the Average purchase price by gender
gender_df["Average Purchase Price"] = round((gender_total_purchase/gender_purchase_count),2)

#Add the Total Purchase Value
gender_df["Total Purchase Value"] = round(gender_total_purchase,2)

#Add the Average Total Purchase
gender_df["Avg Total Purchase per Person"] = round((gender_total_purchase/unique_gender_count),2)
gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

# Age Demographics

In [13]:
# Create the bins in which Data will be held
bins = [0,9,14,19,24,29,34,39,46]

# Create the names for the eight bins
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [14]:
purchase_df["Age Summary"] = pd.cut(purchase_df["Age"],bins,labels=group_names)

In [15]:
purchase_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Summary'],
      dtype='object')

In [16]:
#Total Counts and Percentages of Players should be based on unique count of 'SN' since there are dups

##Unique count of individuals by "Age Summary" group
unique_age_count = purchase_df.groupby("Age Summary")["SN"].nunique()

#Create data frame that's grouped by Age and assign "Total Count" as first column
age_bin_df = unique_age_count.to_frame("Total Count").sort_index()


#Add the Percentage of Players as a column
age_bin_df["Percentage of Players"] = round((unique_age_count/player_count)*100,2)



age_bin_df

             Total Count  Percentage of Players
Age Summary
<10                   17                   2.95
10-14                 22                   3.82
15-19                107                  18.58
20-24                258                  44.79
25-29                 77                  13.37
30-34                 52                   9.03
35-39                 31                   5.38
40+                   12                   2.08

## Purchasing Analysis (Age)

In [17]:
#Unique count of individuals by Age Bin "Age Summary"
unique_age_count = purchase_df.groupby("Age Summary")["SN"].nunique()

#Purchase count by Age Bin
age_purchase_count = purchase_df.groupby("Age Summary")["Item ID"].count()

#Total value purchased by Age Bin 
age_total_purchase = purchase_df.groupby("Age Summary")["Price"].sum()


#Create data frame that's grouped by Age Bin and assign "Purchase Count" as first column
age_df = age_purchase_count.to_frame("Purchase Count")

#Add the Average purchase price by Age Bin
age_df["Average Purchase Price"] = round((age_total_purchase/age_purchase_count),2)

#Add the Total Purchase Value
age_df["Total Purchase Value"] = round(age_total_purchase,2)

#Add the Average Total Purchase - based on unique count of players per age bin
age_df["Avg Total Purchase per Person"] = round((age_total_purchase/unique_age_count),2)
age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Summary,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

## Top Spenders

In [18]:
# Group by "SN"
# Run basic calculations to calculate "Purchase Count", "Average Purchase Price", "Total Purchase Value"
# Sort by "Total Purchase Value" in descending order

In [29]:
#Unique count of purchases by each SN
SN_purchase_count = purchase_df.groupby("SN")["Purchase ID"].nunique()

#Total purchase value  for each SN
SN_purchase_total = purchase_df.groupby("SN")["Price"].sum()

#Create data frame that's grouped by SN and assign "Purchase Count" as first column
SN_df = SN_purchase_count.to_frame("Purchase Count").sort_index()

#Add the Average purchase price by SN
SN_df["Average Purchase Price"] = round((SN_purchase_total/SN_purchase_count),2)

#Add the Total Purchase Value
SN_df["Total Purchase Value"] = round(SN_purchase_total,2)

In [30]:
#Sort by column "Total Purchase Value" in descending order
#Store the sorted data frame as a new df and return just the top 5 rows 

SN_sorted_df = SN_df.sort_values(by="Total Purchase Value", ascending=False)
SN_sorted_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

# Most Popular Items

In [33]:
#Retrieve "Item ID", "Item Name", and "Item Price" --> store in a new df

simplified_df = purchase_df.loc[:, ["Item ID", "Item Name", "Price"]]
simplified_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [40]:
#Group by and calculate the variables
item_price = simplified_df.groupby(["Item ID", "Item Name"])["Price"].mean()

item_purchase_count = simplified_df.groupby("Item ID")["Item Name"].value_counts()

item_purchase_total = item_price * item_purchase_count


#Create data frame that's grouped by "Item ID" & "Item Name" then assign "Purchase Count" as first column
popular_item_df = item_purchase_count.to_frame("Purchase Count")

#Add the purchase price for each Item
popular_item_df["Item Price"] = round(item_price,2)

#Add the Total Purchase Value for each Item
popular_item_df["Total Purchase Value"] = round(item_purchase_total,2)

In [41]:
#Sort by column "Purchase Count" in descending order
#Store the sorted data frame as a new df and return just the top 5 rows 

popular_item_sorted_df = popular_item_df.sort_values(by="Purchase Count", ascending=False)
popular_item_sorted_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

# Most Profitable Items

In [43]:
#Sort by column "Total Purchase Value" in descending order
#Store the sorted data frame as a new df and return just the top 5 rows 

value_item_sorted_df = popular_item_sorted_df.sort_values(by="Total Purchase Value", ascending=False)
value_item_sorted_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80